<p><embed src="sfu.eps" style="width:2cm" /></p>
<p><span>L r</span> <strong>Animesh</strong> &amp; +1 (778) 883 - 4355:<br />
Master of Engineering&amp; <a href="mailto:aaa170@sfu.ca">aaa170@sfu.ca:</a><br />
<span>in Engineering Science</span> &amp; <a href="https://github.com/Animeshrockn">GitHub:</a> <span class="math inline">|</span> <a href="http://animesh24.pythonanywhere.com">Portfolio:</a><br />
<span>Simon Fraser University, Canada</span> &amp; <a href="https://www.linkedin.com/in/Animesh-animesh/">Animesh-animesh:</a></p>
<h1 id="education"><strong>Education</strong></h1>
<p><span>|c|C|c|c|</span> <strong>Degree</strong> &amp; <strong>Institute</strong> &amp; <strong>Year</strong><br />
Master of Engineering &amp; Simon Fraser University, Burnaby &amp; 2021-2023<br />
Bachelor of Engineering &amp; Sri Siddhartha Institute of Technology, Bangalore &amp; 2010-2015<br />
</p>
<h1 id="experience"><strong>Experience</strong></h1>
<ul>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Simon Fraser University</strong></td>
<td style="text-align: right;"><em><span>Nov. 2021 - Present</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><em><span>Service Desk Technician for IT Services</span></em></td>
<td style="text-align: right;"><span>Burnaby</span></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>Facilitating technical and non technical assistance to students and staff on inbound telephone calls, walk-ins or tickets. </span></p></li>
<li><p><span>Setting up computer labs for computer and engineering science departments and maintaining software of the systems.</span></p></li>
</ul></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Amelia.AI</strong></td>
<td style="text-align: right;"><em><span>Aug. 2018 - Dec. 2020</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><em><span>VCE Engineer</span></em></td>
<td style="text-align: right;"><span>Bangalore</span></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>Maintained, upgraded, and deployed multiple VMWare ESXi infrastructure for various clients.</span></p></li>
<li><p><span>Quarterly reviewing infrastructure and figuring potential upgrade and repair of the infrastructure, Planning for scheduling implementation windows for system additions and enhancements with clients.</span></p></li>
<li><p><span>Troubleshoots and resolves break fix and incidents 24X7 and providing instant fail over for the servers. Engaging stakeholder, support teams and vendors for troubleshooting and fixing technical issues and monitors system performance till problem persist. Also, documenting the whole process and reporting to management along with adding it to SOP review.</span></p></li>
<li><p><span><em><strong>Tech. and Tools</strong> :</em> VMware cloud in AWS, VMware ESXi, VSphere 5.x &amp; 6.x, vCenter Management, VMware View 5.1,VMware vApps, vRA, SRM, Distributed Resource scheduling, High Availability, Server snapshot.</span></p></li>
</ul></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Dell Emc</strong></td>
<td style="text-align: right;"><em><span>Feb. 2016 - Jul. 2018</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><em><span>Associate Delivery Specialist</span></em></td>
<td style="text-align: right;"><span>Bangalore</span></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>Leading a team of 10 peers as Storage and IOD Level 1 lead. We were responsible for monitoring of the infrastructure and complete health check for all the devices in infrastructure for three environments Virtual Machines, SAN and NAS. Verifying the integrity and availability of all hardware and software resource in the infrastructure. </span></p></li>
<li><p><span>Deployed Virtual Machines from templates/bare servers and cloned from existing VM, P2V and V2V migrations, NTP server management, snapshot, resource allocation and management from Vcenter. </span></p></li>
<li><p><span>Worked on server ownership and lease management on vRA for existing and newly built VM, manually Patched more than 1000 servers running different OS within one week for a deployment on upcoming week and bagged most productive team for the quarter award. </span></p></li>
<li><p><span>Performed SAN devices management and break fix issues with zoning of storage box with switches from server end, Worked on NAS filer upgrade request on Isilon and Netapp filers along with On-boarding and Off-boarding of servers for the clients.</span></p></li>
<li><p><span><em><strong>Tech. and Tools</strong> :</em> VCenter, vRA, SAN storage manager, HP Eva, Netapp, Isilon, VMAX, VNA, SCCM, Linux, CentOS, Ubuntu.</span></p></li>
</ul></li>
</ul>
<h1 id="projects"><strong>Projects</strong></h1>
<ul>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Emotion detection using NLP and CNN</strong></td>
<td style="text-align: right;"><em><span>Jan. 2021 - Present</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>Text-to-Speech conversion using textual and facial emotion detection, Affective Computing</em></span></td>
<td style="text-align: right;"><span><a href="https://github.com/Animeshrockn/NBA-prediction"><strong></strong></a></span></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>A multi modal approach to combine facial image recognition and textual and speech recognition models for emotion detection to analyze a text and convert it into to its emotion recognized speech. Tone of the text that we write is lagging emotions, we will try to combine facial expressions with the typed text to understand a particular emotion that is depicted in the text and voice out the text using the recognized emotion model. </span></p></li>
</ul></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>NBA winner using Machine Learning</strong></td>
<td style="text-align: right;"><em><span>Jan. 2021 - July. 2021</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>NBA prediction using Deep Neural Networks, Deep Learning</em></span></td>
<td style="text-align: right;"><span><a href="https://github.com/Animeshrockn/NBA-prediction"><strong>Github</strong></a></span></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>Researched about the state of Art deep learning and machine learning models in the sports prediction domain and find out that ensembled machine learning models exceed-es human experts prediction by more than 5%. </span></p></li>
<li><p><span>Created two machine learning models, Artificial Neural network with 5 hidden layers and Logistic Regression model to predict basketball match result predictions and analysed the complexity in sports result prediction and scoring standards as the data generated in sports mostly have features which are available post games.</span></p></li>
</ul></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Black Box Machine Learning Model Interpretation</strong></td>
<td style="text-align: right;"><em><span>May. 2021 - Aug. 2021</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>Interpretation of Black box Models, Data Mining</em></span></td>
<td style="text-align: right;"><span><a href="https://github.com/Animeshrockn/Blackbox-model-Interpretation-using-LIME"><strong>Github</strong></a></span></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>Worked on complex machine learning models to understand the contribution of each variable and feature interpretation using basic algorithms, modified the idea behind LIME interpreter which is widely used in complex model designing.</span></p></li>
<li><p><span>Divided multidimentional dataset in latent representation and based on the black box models output developed a unsupervised K Medoid approach to generate relevance of data points in final prediction, This approach is a upgraded/modified version of LIME with more reliable insights and information.</span></p></li>
</ul></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Smart Helmet</strong></td>
<td style="text-align: right;"><em><span>May. 2021 - Aug. 2021</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>ANC helmets - Smart and Advance Helmets, Data Mining</em></span></td>
<td style="text-align: right;"><span><a href="https://github.com/Animeshrockn/Blackbox-model-Interpretation-using-LIME"><strong></strong></a></span></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>A Smart Helmet device that could be fitted in all kinds of helmets and directly connect it to the mobile with an application to enable features like calling, listening to songs or podcasts, making groups for multiple helmet synchronization.</span></p></li>
<li><p><span>Applications of the device can vary from riding gears to other domain such as construction and medical. It is an existing market product with smart and innovative approach for enhanced convenience and safety. </span></p></li>
</ul></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>House Price Prediction using Machine Learning</strong></td>
<td style="text-align: right;"><em><span>July 2021 - Sept 2021</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>Ensembled ML approach to predict house price</em></span></td>
<td style="text-align: right;"><span><a href="https://www.kaggle.com/animeshrockn/xg-boost-regression-step-by-step?scriptVersionId=64173501"><strong>Kagggle</strong></a></span></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>Explored the working of Ensembled model in a regression dataset for price prediction problem of increasing residential house prices at Ames, Iowa. Complete set of 79 features are available and required to add some more using feature engineering. </span></p></li>
<li><p><span>Worked on various complex models out of which the combination of Xtreme Gradient Boosting and Neural network model gave the best mean square error of 0.12663. </span></p></li>
</ul></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Auto Encoders Implementation</strong></td>
<td style="text-align: right;"><em><span>Jan 2021. - July. 2021</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>Auto-encoder Applications on MNIST dataset, Machine Learning</em></span></td>
<td style="text-align: right;"><span><a href="https://github.com/Animeshrockn/Autoencoder"><strong>Github</strong></a></span></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>Researched on Latent representation of Autoencoders and how they transform the higher dimensional data to a k dimensional vectors and working of both encoders and decoders for reducing and enhancing the data representation. </span></p></li>
<li><p><span>Implemented AE models using Pytorch and tensorflow on MNIST digit recognition dataset and studied interpolation of values at different stages to understand the learning at each layer in the model and feature extractions. </span></p></li>
</ul></li>
</ul>
<h1 id="certifications"><strong>Certifications</strong></h1>
<ul>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Linear Regression with Time Series</strong></td>
<td style="text-align: right;"><em><span>Jan. 2022</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>Python advance learning course, Kaggle</em></span></td>
<td style="text-align: right;"><span><a href="https://www.kaggle.com/learn/certification/animeshrockn/time-series"><strong>Credential</strong></a></span></td>
</tr>
</tbody>
</table></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Pandas</strong></td>
<td style="text-align: right;"><em><span>Aug. 2021</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>Most widely used ML library, Kaggle</em></span></td>
<td style="text-align: right;"><span><a href="https://www.kaggle.com/learn/certification/animeshrockn/pandas"><strong>Credential</strong></a></span></td>
</tr>
</tbody>
</table></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>SQL</strong></td>
<td style="text-align: right;"><em><span>May. 2021</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>Structure Query Language Expert, Udemy</em></span></td>
<td style="text-align: right;"><span><a href="https://www.udemy.com/certificate/UC-60f8dd48-ebc2-48b1-9607-e13a62dad901/"><strong>Credential</strong></a></span></td>
</tr>
</tbody>
</table></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>VDC foundation</strong></td>
<td style="text-align: right;"><em><span>Aug. 2017</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>Virtual Data Center Foundation, VMware</em></span></td>
<td style="text-align: right;"><span><a href="https://www.udemy.com/certificate/UC-917cfcbf-72cf-4228-873e-4a109d98747d/"><strong></strong></a></span></td>
</tr>
</tbody>
</table></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>ITIL V3</strong></td>
<td style="text-align: right;"><em><span>May. 2017</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>Information Technology Infrastructure Library, Peoplecert</em></span></td>
<td style="text-align: right;"><span><a href="https://drive.google.com/file/d/1UHVHNctpmqqseVx0_vsx8GZSJppmYI9z/view"><strong>Credential</strong></a></span></td>
</tr>
</tbody>
</table></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Python</strong></td>
<td style="text-align: right;"><em><span>May. 2021</span></em></td>
</tr>
<tr class="even">
<td style="text-align: left;"><span><em>Python advance learning course, Kaggle</em></span></td>
<td style="text-align: right;"><span><a href="https://www.kaggle.com/learn/certification/animeshrockn/python"><strong>Credential</strong></a></span></td>
</tr>
</tbody>
</table></li>
</ul>
<h1 id="volunteering-activities"><strong>Volunteering Activities</strong></h1>
<ul>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Community Leader</strong>,Global Connection Program, SFU</td>
<td style="text-align: right;"><em><span>Jan. 2022 - Present</span></em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>Provided support to new undergraduate students from international pathways including transfer students from Canadian post secondary institutions and incoming exchange students.</span></p></li>
</ul></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>Global Peer Educator</strong>,Global Student society, SFU</td>
<td style="text-align: right;"><em><span>Aug. 2021 - Dec. 2021</span></em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>Global community peer educator program focus on building intercultural awareness and understanding across the SFU community, Peer educators are provided with training and professional development opportunities in the areas of leadership and intercultural competency. </span></p></li>
</ul></li>
<li><table>
<tbody>
<tr class="odd">
<td style="text-align: left;"><strong>ComSciCon Volunteer</strong>,Communication Science Workshop, Harvard University</td>
<td style="text-align: right;"><em><span>Aug. 2021</span></em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>ComSciConCAN is Canada’s first national science communication workshop for graduate students. Worked with a diverse group of people to develop a science communication article <strong>"How Machine Learn ?"</strong>. </span></p></li>
</ul></li>
</ul>
<h1 id="fields-of-interest"><strong>Fields of Interest</strong></h1>
<ul>
<li><p>Machine Learning, Deep Neural networks, Virtualization and Data Center, Computer Gaming</p></li>
</ul>
<h1 id="technical-skills"><strong>Technical Skills</strong></h1>
<ul>
<li><p><strong>Programming Languages</strong> : Python(proficient), SQL(proficient), C/C++ (basics)</p></li>
<li><p><strong>OS</strong> : ESXi(proficient), Windows, Linux, Virtual Machines</p></li>
<li><p><strong>Tools</strong> : GitHub, Sublime text, VS Code, Jupyter, Google Collaboratory, Wireshark, VCenter on AWS, Anaconda</p></li>
</ul>
<h1 id="strength"><strong>Strength</strong></h1>
<ul>
<li><p>Versatile, Creative, Self motivating and Agile, Leadership as well as strong team ethics, Dedication, Punctuality, Communication</p></li>
</ul>
<h1 id="hobbies"><strong>Hobbies</strong></h1>
<ul>
<li><p>Basketball, Football, Chess, Sudoku, Computer Gaming, Music, Experiences</p></li>
</ul>
